<template name="device">
  <div class="device">
    {{#if Template.subscriptionsReady}}
      <h3 class="deviceID">{{deviceid}}</h3>
      {{#if hasGCMid}}
        <div class="button">
          <button>
            Sent notification
          </button>
        </div>
      {{/if}}
      <div class="deviceDetail">
        {{{deviceHtmlCode}}}
      </div>
    {{else}}
      Loading
    {{/if}}
  </div>
</template>
