<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maybe Backend</title>
</head>

<template name="home">
  {{> nav}}
  <div class="flex-column">
    <h1 id="title" class="flex-column">Maybe Backend!</h1>

    {{#if Template.subscriptionsReady}}
    {{> packageList}}
    {{> devicesList}}
    {{else}}
    Loading
    {{/if}}

    <!-- <div> -->
    <!--   {{> test}} -->
    <!-- </div> -->
  </div>
</template>

<template name="devicesList">
  <div id="devices-container" class="flex-column">
    <h2 class="subtitle">Devices:</h2>
    <div class="devices">
      {{#each devices}}
      {{> device}}
      {{/each}}
    </div>
  </div>
</template>

<template name="packageList">
  <div id="packages-container" class="flex-column">
    <div class="packageList flex-column">
      <h2 class="subtitle flex-column">Packages:</h2>
      <!-- {{> config}} -->
      {{#each packages}}
      {{> package}}
      {{/each}}
    </div>
  </div>
</template>
