<template name="logs">
  {{> nav}}
  <div class="flex-column">
    {{#if Template.subscriptionsReady}}
      {{#each packages}}
        <div class="log-package">
          {{> log_package}}
        </div>
      {{/each}}
    {{else}}
      Loading...
    {{/if}}
  </div>
</template>

<template name="log_package">
  {{#if alone}}
  {{> nav}}
  {{/if}}
  <div class="flex-element">
    {{#if Template.subscriptionsReady}}
      <div class="packageName">
        {{packageName}}
      </div>
      {{#each devices}}
        <div class="log-device">
          {{> log_device}}
        </div>
      {{/each}}
    {{else}}
      Loading...
    {{/if}}
  </div>
</template>

<template name="log_device">
    {{#if Template.subscriptionsReady}}
      {{deviceid}}
      Total log: {{count}}
      {{#each logs}}
        {{{logHtmlCode}}}
      {{/each}}
    {{else}}
      Loading...
    {{/if}}
</template>
