/* CSS declarations go here */
body {
    margin-top: 51px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
    padding: 1em;
}

@media only screen and (max-device-width: 480px) {
    body {
        max-width: 80em;
        padding: 1em;
    }
} /* @Phones */

.flex-column {
    display: -webkit-flex;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.flex-row {
    display: -webkit-flex;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#title {
    text-align: center;
}

#api-title:hover,
.subtitle:hover,
.deviceID:hover,
.packageName:hover,
.option:hover {
    color: red;
    font-weight: bold;
}

#api-content {
    display: none;
}

.key-value-pair {
    display: inline-block;
    margin: 12px;
    padding: 8px;
    border-style: solid;
    border-width: 1px;
}

.choosed {
    color: red;
}

.packageName {
    font-weight: bold;
    font-size: x-large;
    padding: 8px 0 8px 0;
}

.package {
    border-bottom: dotted 1px;
}

.maybeCodeJunction {
    display: inline;
}

.maybeCodeBlock {
    background-color: #aaaaaa;
    display: inline;
}

.maybeCodeBlockChoosed {
    background-color: #9fffff;
}

.label {
    padding: 12px 0 12px 0;
}

.alternatives {
    /* border: solid 3px; */
}

.options {
    float: left;
}

.option-container {
    float: left;
}

.option {
    width: 128px;
    margin: 4px;
    padding: 4px;
}

.optionChoosed {
    background-color: #9fffff;
}

.code {
    clear: both;
    padding-top: 8px;
}

.statement {
    margin: 16px 0 16px 0;
    border-top: solid 1px;
}

.device {
    border-bottom: dotted 1px;
}
#packages-container, #devices-container {
    border-top: solid 2px;
}

.config-container,
.deviceDetail,
.packageDetail {
    display: none;
}

#config-container {
    /* display: none; */
    Background: white;
}

.oneOption {
    float: left;
}

.deviceList {
    clear: both;
}

.optionList {
    clear: both;
}
